*{
    margin: 0;
    padding: 0;
    list-style: none;
}

.warp{
    min-width: 950px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.warp ui{
    display: inline-block;
}
.warp ui li{
    float: left;
    text-align: center;
}
.warp .item div{
    width: 150px;
}
.Iitemdiv{  
    padding: 5px;
    margin: 5px;
    border: 1px solid #969696;
    box-shadow:1px 2px 3px #969696;
}
.warp .item div img{
    width: 100%;
}
.warp .load{
    font-size: 18px;
    color: #969696;
}

